<!-- Employee Table -->
<p-table [value]="employees" [paginator]="true" [rows]="5" [resizableColumns]="true" class="p-datatable-gridlines">
  
  <!-- Header Section of the Table -->
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Department</th>
      <th>Actions</th>
    </tr>
  </ng-template>

  <!-- Body Section of the Table -->
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{ employee.empId }}</td>
      <td>{{ employee.empFname }}</td>
      <td>{{ employee.empLname }}</td>
      <td>{{ employee.age }}</td>
      <td>{{ employee.address }}</td>
      <td>{{ employee.department }}</td>
      <td class="action-buttons">
        <!-- Button to Update Employee -->
        <button pButton type="button" icon="pi pi-pencil" label="Update" class="p-button-text p-button-info" (click)="editEmployee(employee.empId)"></button>
        
        <!-- Button to Delete Employee -->
        <button pButton type="button" icon="pi pi-trash" label="Delete" class="p-button-text p-button-danger" (click)="deleteEmployee(employee.empId)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
