<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Address</th>
    <th>Department</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td>{{ employee.empFname }}</td>
    <td>{{ employee.empLname }}</td>
    <td>{{ employee.age }}</td>
    <td>{{ employee.address }}</td>
    <td>{{ employee.department }}</td>
    <td>
      <button (click)="editEmployee(employee.empId)">Update</button>
      <button (click)="deleteEmployee(employee.empId)">Delete</button>
    </td>
  </tr>
</table>
